$bannerBreakPoint: 880px;

.banner-wrapper {
  background-color: black;
  width: 100%;
}

.banner {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 1em 1em;
  max-width: 1200px;
  max-height: 27rem;

  &-img{
    display: flex;
    align-items: center;
    justify-content: flex-end; // 改為center
    flex: 1.2;
    
    img {
      max-width: 100%;
      height: auto;
      max-height: 27rem;
    }
  }

  &-info {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 2em;
    flex: 1;
    

    h2 {
      font-size: 5em;
      font-weight: 700;
      letter-spacing: 3px;
    }
  }

  &-subTitle{
    color: red;
    font-size: 1em;
    letter-spacing: 10px;
    padding-bottom: 10px;
  }

  &-button {
    font-size: 0.85em;
    font-weight: 500;
    text-align: center;
    width: 140px;
    padding: 12px 25px;
    border: 2px solid white;
    margin-top: 5px;
  }
}

@media screen and (max-width: $bannerBreakPoint) {
  .banner {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    max-height: 740px;
  }
}