$breakpoint-mobile: 990px;
// header {
//   background-color: #101010;
//   padding: 0 2rem;
//   z-index: 101;
// }

.navbar {
  background-color: #101010;
  height: 75px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;

  &-logo {
    position: sticky;
  }

  &-list {
    position: sticky;
    display: flex;
    gap: 2rem;

    li {
      list-style: none;
    }

    a {
      font-size: 13px;
      padding: 5px 0;
      text-decoration: none;
      color: #fff;

      &:hover {
        text-decoration: underline #ee4036 2px;
        text-underline-offset: 12px;
      }
    }
  }

  &-trigger {
    display: none;
  }

  &-mask {
    display: none;
  }

  &-panel {
    display: none;
  }
}

@media screen and (max-width: $breakpoint-mobile) {
  .navbar {
    position: fixed;
    height: 60px;
    justify-content: space-between;

    &-logo {
      padding: 0 10px;
    }

    &-list {
      display: none;
    }

    &-trigger {
      display: block;
      position: relative;
      padding: 25px 20px;
      box-sizing: border-box;
      background-color: rgb(102, 51, 0);
      width: 60px;
      height: 62px;
      cursor: pointer;
      z-index: 101;

      i {
        display: block;
        width: 20px;
        height: 1.5px;
        background-color: #999999;
        margin: 2px 0;
      }

      &::before {
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background-color: #999999;
      }

      &::after {
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background-color: #999999;
      }
    }
  }

  .navbar-panel {
    position: fixed;
    top: 4.6%;
    right: 0;
    z-index: 102;
    width: 100%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.9);

    &.is-active {
      transform: translateX(0);
      transition: all 500ms cubic-bezier(1, 0, 0, 1); /* easeInOutExpo */
    }

    &.is-disable {
      transition: all 500ms cubic-bezier(1, 0, 0, 1); /* easeInOutExpo */
      transform: translateX(100);
    }
  }

  ul.navbar-panel-list {
    padding-top: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.05em;
    font-weight: 300;
    color: #fff;
    width: 100%;

    li {
      width: 100%;
      padding: 0 16px;
      position: relative;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: rgb(237, 28, 36);
      }

      a {
        padding: 9px 0;
        color: inherit;
        text-decoration: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        &::after {
          content: '▶︎';
        }
      }
    }
  }
}
