$breakpoint-mobile: 990px;

.navbar {
  background-color: #101010;
  height: 70px;
  width: 100%;
  position: relative;
  // 讓 navbar-container 在 y 軸置中
  align-content: center;

  // Navbar 裡面用來包內容的容器
  &-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    // x 軸置中
    margin: auto;
    height: 100%;
    width: 100%;
    max-width: 1000px;
  }

  &-list {
    display: flex;
    gap: 2rem;

    li {
      list-style: none;
    }

    a {
      font-size: 13px;
      padding: 5px 0;
      text-decoration: none;
      color: #fff;

      &:hover {
        text-decoration: underline #ee4036 2px;
        text-underline-offset: 12px;
      }
    }
  }
}

.navbar-trigger {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(102, 51, 0);
  height: 100%;
  // 讓寬度始終是正方形
  aspect-ratio: 1/1;
  cursor: pointer;
  z-index: 103;

  i {
    display: block;
    width: 25px;
    height: 2px;
    background-color: #999999;
    margin: 3px 0;
  }

  &::before {
    content: '';
    display: block;
    width: 25px;
    height: 2px;
    background-color: #999999;
  }

  &::after {
    content: '';
    display: block;
    width: 25px;
    height: 2px;
    background-color: #999999;
  }
}

.navbar-mask {
  // display: flex;
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  z-index: 101;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  // backdrop-filter: blur(12px);
  &.is-active {
    display: block;
  }
}

.navbar-panel {
  position: fixed;
  display: grid;
  grid-template-rows: 0fr;
  transition: 400ms grid-template-rows ease;
  top: 5.3%;
  z-index: 102;
  width: 100%;
  height: auto;
  background-color: rgba(0, 0, 0, 1);

  &.is-active {
    grid-template-rows: 1fr;
  }
}

ul.navbar-panel-list {
  align-items: center;
  font-size: 1.05em;
  font-weight: 300;
  color: #fff;
  width: 100%;
  overflow: hidden;

  li {
    width: 100%;
    padding: 0 16px;
    position: relative;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: rgb(237, 28, 36);
    }

    a {
      padding: 9px 0;
      color: inherit;
      text-decoration: none;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;

      &::after {
        content: '▶︎';
      }
    }
  }
}

// 觸發選單元素的寬度突破點
@media screen and (max-width: $breakpoint-mobile) {
  .navbar {
    position: fixed;

    // Navbar 裡面用來包內容的容器
    &-container {
      // x 軸置中
      margin: 0 auto;
    }

    &-logo {
      padding: 0 10px;
    }

    &-list {
      display: none;
    }
  }

  .navbar-trigger {
    display: flex;
  }

  .navbar-panel {
    // display: block;
  }

  .navbar-mask {
    &.is-active {
      display: block;
    }
  }
}
