.navigator {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 60px;
  background: rgba(250, 250, 250, 0.4);
  backdrop-filter: blur(10px);
  padding: 0 10px;

  display: flex;
  align-items: center;
  justify-content: flex-end;

  &-trigger {
    position: relative;
    padding: 15px 10px;
    border: 1px solid #333;
    box-sizing: border-box;
    width: 44px;
    height: 44px;
    cursor: pointer;

    i {
      display: block;
      width: 20px;
      height: 1px;
      background-color: #333;
      margin: 4px 0;
    }

    &::before {
      content: "";
      display: block;
      width: 20px;
      height: 1px;
      background-color: #333;
    }

    &::after {
      content: "";
      display: block;
      width: 20px;
      height: 1px;
      background-color: #333;
    }
  }
}

.nav-mask {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  z-index: 101;
  width: 100%;
  height: 100%;
  background: rgba(250, 250, 250, 0.2);
  backdrop-filter: blur(8px);
  &.is-active {
    display: block;
  }
}

.nav-panel {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 102;
  width: 300px;
  height: 100%;
  background: linear-gradient(90deg, #333, #363636);
  // 陰影效果
  box-shadow: -4px 0 6px rgba(0, 0, 0, 0.5);
  // X 軸位移
  transform: translateX(100%);

  // 被打開的樣式
  &.is-active {
    transform: translateX(0);
    transition: all 500ms cubic-bezier(1.000, 0.000, 0.000, 1.000); /* easeInOutExpo */
  }

  &.is-disabled {
    // transition 效果
    transition: all 500ms cubic-bezier(1.000, 0.000, 0.000, 1.000); /* easeInOutExpo */
    transform: translateX(100%);
  }

}