.navigator {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 60px;
  background: rgba(250, 250, 250, 0.4);
  backdrop-filter: blur(10px);
  padding: 0 10px;

  display: flex;
  align-items: center;
  justify-content: flex-end;

  &-trigger {
    position: relative;
    padding: 15px 10px;
    border: 1px solid #333;
    box-sizing: border-box;
    width: 44px;
    height: 44px;
    cursor: pointer;

    i {
      display: block;
      width: 20px;
      height: 1px;
      background-color: #333;
      margin: 4px 0;
    }

    &::before {
      content: "";
      display: block;
      width: 20px;
      height: 1px;
      background-color: #333;
    }

    &::after {
      content: "";
      display: block;
      width: 20px;
      height: 1px;
      background-color: #333;
    }
  }
}

.nav-mask {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  z-index: 101;
  width: 100%;
  height: 100%;
  background: rgba(250, 250, 250, 0.2);
  backdrop-filter: blur(8px);
  &.is-active {
    display: block;
  }
}

.nav-panel {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 102;
  width: 300px;
  height: 100%;
  background: linear-gradient(90deg, #333, #363636);
  // 陰影效果
  box-shadow: -4px 0 6px rgba(0, 0, 0, 0.5);
  // X 軸位移
  transform: translateX(100%);

  // 被打開的樣式
  &.is-active {
    transform: translateX(0);
    transition: all 500ms cubic-bezier(1.000, 0.000, 0.000, 1.000); /* easeInOutExpo */
  }

  &.is-disabled {
    // transition 效果
    transition: all 500ms cubic-bezier(1.000, 0.000, 0.000, 1.000); /* easeInOutExpo */
    transform: translateX(100%);
  }

  ul.nav-list {
    padding-top: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.3em;
    color: #7c7878;
    width: 100%;

    li {
      position: relative;
      text-align: center;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: rgba(124, 120, 120, 0.2);
      }

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border: 2px solid transparent;
        pointer-events: none;
      }

      &:hover::before {
        animation: ripple-border 1s linear infinite;
      }

      a {
        display: block;
        padding: 9px 0;
        color: inherit;
        text-decoration: none;
      }
    }
  }
}

ul.infinity-menu {
  display: block;
  width: 160px;
  margin: 0;
  padding: 0;
  list-style: none;
  color: #fefefe;

  li {
    position: relative;
    padding: 0 16px;
    background: #363636;
    line-height: 40px;
    cursor: pointer;
    
    &:hover {
      background: lighten(#363636, 10%);
      & > ul {
        display: block;
      }
    }
  
    ul {
      display: none;
      position: absolute;
      top: 0;
      left: 100%;
      width: 100%;
    }
  }
}

@keyframes ripple-border {
  0% {
    border-color: rgba(255, 255, 255, 0);
  }
  20% {
    border-color: rgba(255, 255, 255, 0.5);
  }
  100% {
    border-color: rgba(255, 255, 255, 0);
  }
}