.news-container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  h1 {
    font-size: 2rem;
    font-weight: 900;
    text-align: left;
    margin: 1rem 0;
  }

  .news {
    &-author {
      font-size: 17px;
      text-align: left;
      margin: 0.5rem 0;
    }

    &-date-number {
      font-size: 17px;
      letter-spacing: 0.035em;
      line-height: 1.15em;
      color: #777;
    }

    &-top-banner {
      width: 100%;
    }

    &-text {
      font-size: 20px;
      line-height: 1.75em;
      letter-spacing: 0.075em;
      text-align: left;
      padding: 1rem 0;
    }

    &-subtitle {
      color: #ff6600;
      font-size: 20px;
      font-weight: 700;
    }

    &-tag-list {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      b {
        font-size: 20px;
        font-weight: 700;
        float: left;
        padding: 5px 0;
        margin-right: 10px;
      }
      span {
        font-size: 16px;
        border-radius: 20px;
        padding: 10px;
        margin: 0 5px 5px 0;
        background-color: #ebebeb;
        cursor: pointer;
        &:hover {
          background-color: #78be23;
          color: #fff;
        }
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .news-container {
    .news {
      &-text {
        padding: 1rem;
      }

      &-tag-list {
        padding: 1rem;
        b {
          display: block;
          width: 100%;
        }
      }
    }
  }
}
