.news-container {
  width: 100%;
  // up/down, left/right
  margin: 0 auto;
  max-width: 1000px;
  padding: 1.2rem;
  

  .news {
    &-header {
      font-size: 1.5rem;
      font-weight: 700;
      text-align: left;
      margin: 3rem 0 0.5rem;
    }

    &-author {
      font-size: 1em;
      color: #777;
    }

    &-date {
      font-size: 1.15em;
      font-weight: 400;
      color: #777;
    }

    &-top-banner {
      width: 100%;
      margin: 1rem auto;
      border-radius: 5px;
    }

    &-content {
      font-size: 1.23em;
      letter-spacing: .09em;
      line-height: 1.75em;
      margin-bottom: 1.9em;
    }

    &-subtitle {
      font-size: 1.25em;
      margin: 2em auto;
      color: #ff6600; 
    }

    &-keyword-list {
      display: flex;
      align-items: center;
      flex-wrap: wrap;

      b {
        font-size: 1.2em;
        margin-right: 10px;
      }

      span {
        margin: 5px .3em;
        padding: 5px 10px;
        color: #3e3a39;;
        background-color: 
        #EBEBEB;;
        border-radius: 16px;
        &:hover {
          background-color: #78be23;
          color: white;
        }
      }
    }
  }
}