.products-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  grid-gap: 20px;
  padding: 1rem;
  margin: 0 auto;
  max-width: 1200px;
}

.product-card {
  display: flex;
  flex-direction: column;
  padding: 16px;
  border-radius: 6px;
  border: 1px solid #666;
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.6);
  &__img {
    img {
      width: 100%;
      object-fit: cover;
    }
  }
  &-info {
    display: flex;
    flex-direction: column;
    &__name {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
    &__desc {
      font-size: 12px;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      margin: 8px 0;
    }
    &__price {
      font-size: 18px;
      font-weight: 600;
      color: #db6212;
    }
    &__footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 10px;
    }
    &__button {
      display: block;
      width: 100%;
      padding: 0.25rem 0.5rem;
      color: #fff;
      text-align: center;
      border-radius: 4px;
      font-size: 0.85rem;
      cursor: pointer;
      &:last-child {
        margin-right: 0;
      }
      &.cart {
        background-color: #00BFC4;
      }
      &.purchase {
        background-color: #00A4C4;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .product-card {
    flex-direction: row;
    gap: 10px;
    &__img {
      flex: 2
    }
    &-info {
      flex: 2;
      &__name {
        font-size: 14px;
      }
      &__desc {
        display: none;
      }
      &__footer {
        flex-direction: column;
        gap: 0;
      }
      &__button:first-child {
        margin-bottom: 5px;
      }
    }
  }
}