@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import 'news.scss';
@import 'navigator.scss';

body, html {
  background-color: #333;
  background: url('../img/bg.webp') no-repeat fixed;
  background-size: cover;
  // background-attachment: fixed;
}
