// 引用 'variables.scss 做名為 base 的 component
@use 'variables.scss' as base;

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import 'news.scss';
@import 'navigator.scss';
@import 'products.scss';
// @import 'jsDay2Ex-1.scss';

body,
html {
  background-color: #212121;
  // background: url('../img/bg.webp') no-repeat fixed;
  // background-size: cover;
  // background-attachment: fixed;
}

#app {
  color: #ccc;
  input[type='text'],
  input[type='number'] {
    background-color: #333;
    color: #ccc;
    border: 1px solid #666;
    padding: 5px 10px;
    border-radius: 4px;
  }
}
