// 引用 'variables.scss 做名為 base 的 component
@use 'variables.scss' as base;

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import 'news.scss';
@import 'navigator.scss';
@import 'products.scss';

body, html {
  background-color: #333;
  background: url('../img/bg.webp') no-repeat fixed;
  background-size: cover;
  // background-attachment: fixed;
}
